/* 
  Author: Ola White

  Description: Greetings! This is my CSS stylesheet. Thanks for checking out my code. Don't forget to follow me on my pages:

  Portfolio:   https://www.olawhite.com/
  Github:      https://github.com/whitesoftx
  Twitter:     https://twitter.com/
  
  Happy coding!
*/

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h3 {
  color: #6495ed;
}

input {
  margin-bottom: 20px;
}

button {
  padding: 15px 25px;
  background-color: #d43535;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.1rem;
}

button:hover {
  background-color: #193f1b;
}

/* Upload button styles */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
}

.btn {
  border: 1px dashed cornflowerblue;
  color: gray;
  background-color: white;
  padding: 20px; /* Set padding to increase button size */
  border-radius: 10px; /* Set border-radius for rounded corners */
  width: 250px; /* Set width */
  height: 200px; /* Set height */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.loading-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 2s infinite;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e0e1ebfb;
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: cornflowerblue;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
